@use "../../mixins/" as *;
@use "../../presets/" as *;

.footer {
  padding: 50px 20px 70px;

  text-align: center;
  // background-color: #2d3651;
  text-align: center;

  color: $color-light;
  background-color: $color-primary;


  &__container {
    @extend %container;
  }
  &__social {
    display: grid;
    justify-content: center;

    margin-bottom: 40px;
  }
}
