@use "../presets" as *;
@use "../mixins/" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-light;
  transition: background-color 0.8s;
  padding: 0.5em 1em;

  letter-spacing: 0.1em;

  font-weight: 400;

  &--primary {
    min-width: 350px;
    height: 60px;

    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);

    font-size: 1.125rem;
    
      // width: 100%;
      
      }
    

  &--light {
    border: 2px solid $color-light;
    background-color: rgba($color-light, 0.1);

    @include lg-min {
      min-width: 250px;
      height: 60px;

      font-size: 1.125rem;
    }
    @include lg-md {
      min-width: 200px;
      height: 50px;
    }
    @include md {
      min-width: 170px;
      height: 40px;
    }
  }
  &:hover,
  &:focus {

    background-color: $color-accent;
  }
}

.hidden {
  @include visually-hidden;
}

.bt {
  min-width: 420px;

  transition: background-color 0.4s;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    border: 2px solid $color-light;

  }
}